# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
build/

# Env files
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor/OS
.vscode/
.idea/
.DS_Store

# Vite
*.local

# TypeScript build cache
*.tsbuildinfo
